* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}

.banFont {
    font-family: "Hind Siliguri", sans-serif;
}

p {
    color: #ffffffa2;
    line-height: 30px;
}

/* -------------------- */
body {
    margin: 0 auto;
    background-color: #1A0B2E;
    color: #FFFFFF;
}

/* nav bar */

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    border-bottom: 1px solid #412567;
}

.navContainer ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.btn {
    background: linear-gradient(15deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: #FFFFFF;
    padding: 12px 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.menuIcon {
    display: none;
}

/* banner */

.bannerConrainer {

    background: url(./assets/hero-bg.png) no-repeat center;
    height: 760px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bannerContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;


}

.bannerCircle {
    height: 350px;
    width: 350px;
    background: linear-gradient(45deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: 8px solid #2A186C;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.badge {
    position: absolute;
    top: 12px;
    right: 24px;
    background-color: #00ff88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 20px;
    box-shadow: 0 3px 27px 0 #00ff8880;
    text-transform: uppercase;
    animation: kapakapi 2s infinite ease-in-out;

}

.bannerTextOrBtn {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.bannerText {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h1 {
        font-weight: 800;
        font-size: 60px;
    }
}

.bannerBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.buttonBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 600;
}

/* About Section */


.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 50px 200px 120px;
}

.aboutText {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;

    h1 {
        font-size: 48px;
        font-weight: bold;

    }
}

.statisticsContainer {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    align-items: center;

    h1 {
        font-size: 48px;
        font-weight: 900;
        letter-spacing: 1.5px;
        color: #00ff88;
    }
}

/* Why Choose Section */

.whyChooseContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 120px 200px;
    background: #230E3D;

    h1 {
        font-size: 48px;

    }
}

.whyChooseCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.tall {
    grid-row: span 2;
}

.wide {
    grid-column: span 2;
}

.whyChooseCard {
    background: #35116566;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 16px;
    padding: 40px;
    border-radius: 40px;

    .img {
        max-width: 60px;
    }

    h3 {
        font-size: 24px;
    }


}

/* Featured Episodes Section */

.featuredEpisodesContainer {
    padding: 120px 200px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.feturedEpisods,
.meetTheHost {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    h1 {
        font-size: 48px;
    }
}

.featuredCardContainer {
    display: flex;
   
    gap: 30px;
    
    justify-content: center;
}

.featuredCard {
    border-radius: 24px;
    background-color: #250D44;
    max-width: 380px;

}

.vid {
    border-radius: 24px 24px 0 0;
    height: 214px;
    width: 380px;
}

.featureText {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h3 {
        font-size: 24px;
    }

    p {
        color: #ffffffa2;
        line-height: 30px;
    }
}

.duration {
    display: flex;
    gap: 6px;
    align-items: center;
    color: #00FF88;

    .durImg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.meetTheHostContent {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 40px;
    border-radius: 40px;
    background: #35116566;
}

.hostTextOrSocial {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hostImg img {
    max-width: 200px;
    border-radius: 50%;
}

.hostText {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h3 {
        font-size: 32px;

    }


}

.hostSocial {
    display: flex;
    gap: 8px;

}

.hostSocialLinks {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #533C72;
    border-radius: 50%;
}

/* footer */
footer {
    height: 412px;
    background: url(./assets/footer-bg.png) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    p {
        letter-spacing: 1px;
    }
}

.footSocialLinks {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footSocial {
    display: flex;
    gap: 8px;
    align-items: center;
}

/* hover */

.lafalafiHov:hover {
    cursor: pointer;
    animation: lafalafi 0.5s ease-in-out;
}
.potiHov:hover{
    animation: polti 1.5s ease-out;
}
/* animation */

@keyframes polti {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes kapakapi {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0.7);
    }

    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 10px rgba(0, 255, 136, 0);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(0, 255, 136, 0);
    }
}

@keyframes lafalafi {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px) rotate(-5deg);
    }

    75% {
        transform: translateX(5px) rotate(5deg);
    }
}

/* responsive */



@media screen and (max-width: 992px) {
    .navContainer {
        padding: 16px 20px;
    }

    .navBtn {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .aboutContainer {
        padding: 50px 60px 120px;
    }

    .statisticsContainer {
        gap: 40px;
        flex-wrap: wrap;

        h1 {
            font-size: 32px;
        }
    }

    .whyChooseContainer {
        padding: 60px;

    }

    .whyChooseCardContainer {
        gap: 16px;
    }

    .whyChooseCard {
        padding: 24px;

    }

    .featuredEpisodesContainer {
        padding: 60px;

        h1 {
            h1 {
                font-size: 48px;
                text-align: center;
            }

            text-align: center;
        }
    }

    .featuredCardContainer {
        flex-wrap: wrap;
        justify-content: center;
    }

    .meetTheHostContent {
        padding: 24px;
    }

    footer {
        background-position: center;
        padding: 24px;

    }

    .footSocialLinks {
        flex-wrap: wrap;
        justify-content: center;
    }

}






@media screen and (max-width: 576px) {
    .menuNav {
        display: none;
    }

    .bannerConrainer {
        height: 466px;
        background: url(./assets/hero-bg.png) no-repeat center center / cover;
    }

    .bannerContent {
        margin-top: 60px;
    }

    .bannerCircle {
        max-width: 200px;
        max-height: 200px;
    }

    .bannerContent {
        gap: 24px;
    }

    .bannerCircle>img {
        max-width: 80px;
    }

    .badge {
        top: 4px;
        right: 0px;
    }

    .bannerBtn {
        flex-wrap: wrap;
    }

    .aboutContainer {
        padding: 40px 20px;

        h1 {
            font-size: 32px;
            text-align: center;
        }
    }

    .statisticsContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .whyChooseContainer {
        padding: 40px;

        h1 {
            font-size: 32px;
            text-align: center;
        }
    }

    .whyChooseCardContainer {
        display: flex;
        flex-direction: column;
    }

    .featuredEpisodesContainer {
        h1 {
            font-size: 32px;
        }

        h3 {
            font-size: 24px;
        }
    }

    .meetTheHostContent {
        text-align: center;
        flex-direction: column;
    }

    .hostSocial {
        justify-content: center;
    }

    footer {
        height: 248px;
        background: url(./assets/footer-bg.png) no-repeat center center;
        background-size: cover;
        justify-content: center;
        align-items: center;

    }

    .footLogo img {
        width: 220px;
    }

    .footSocialLinks {
        transform: scale(80%);
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        justify-content: center;
        gap: 16px;


    }

    .footSocial {
        align-items: center;
    }
}
@media screen and (max-width:1220px) {
    .featuredCardContainer{
        flex-wrap: wrap;
    }
}